__pycache__
/.idea
/.vscode
/data/augmented/*
!/data/augmented/README.md
/data/processed/*
!/data/processed/README.md
/data/verified_image/*
!/data/verified_image/README.md
/data/wiki/*
!/data/wiki/README.md